/* General reset and styling */
body, h2, p, a, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

/* 전체 섹션 레이아웃 */
.sidebar {
    width: 250px; /* 고정된 너비 */
    height: 100vh; /* 전체 높이 */
    display: flex;
    flex-direction: column; /* 자식 요소를 수직으로 정렬 */
    position: fixed; /* 화면 왼쪽에 고정 */
    top: 0;
    left: 0;
    background-color: #F6F4FA;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);

}



/* Profile Info Section */
.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 60px; /* 조정된 사이즈 */
    height: 60px;
    border-radius: 50%;
    background-color: #eaeaea;
    margin-bottom: 10px;
}

.user-details h2 {
    font-size: 1rem; /* 조정된 폰트 사이즈 */
    margin-bottom: 5px;
    color: #333;
}

.user-details p {
    font-size: 0.8rem; /* 조정된 폰트 사이즈 */
    color: #555;
}

.buttons {
    margin-top: 10px;
    
}

.buttons .btn {
    background-color: #EFEFEF;
    border: none;
    border-radius: 10px; /* 작은 버튼 */
    padding: 5px 1px;
    font-size: 0.7rem; /* 조정된 폰트 사이즈 */
    margin: 3px;
    cursor: pointer;
    color: #666;
    width: 75px;
}

/* Accordion Navigation */
.accordion-nav {
    flex-grow: 1; /* 남은 공간을 차지하게 */
    width: 100%; /* 250px 내에서 맞추기 위해 */
    overflow-y: auto; /* 스크롤 가능하게 */
    padding-bottom: 10px; 
    
}
.accordion-nav::-webkit-scrollbar {
    width: 0; /* 스크롤바 숨기기 */
}
.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-btn {
    width: 100%;
    background-color: #F8F5FA;
    border: none;
    padding: 8px;
    text-align: left;
    font-size: 0.9rem; 
    cursor: pointer;
    color: #333;
}

.accordion-btn:after {
    content: '+';
    float: right;
    color: #666;
}

.accordion-btn.active:after {
    content: '-';
}

.accordion-content {
    display: none; 
    padding-left: 20px;
    padding-right: 10px; 
}

.accordion-content a {
    display: block;
    padding: 5px 0;
    font-size: 0.8rem; 
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

.accordion-content a:hover {
    color: #350;
}

/* 하단 버튼 스타일링 */
.bottom-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #F6F4FA;
}

.bottom-buttons .btn {
    width: 45%;
    background-color: #EFEFEF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.7rem;
    cursor: pointer;
    color: #333;
}

.bottom-buttons .btn:hover {
    background-color: #ddd;
}
.buttons .btn:hover {
    background-color: #ddd;
}
