/* 전체 섹션 스타일 */
.main-content {
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    margin-left: 30px; /* nav 사이드바 너비와 일치 */
    background-color: #f4f4f4;
}

.content {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #f4f4f4;
}

#section_wrap {
    max-width: 100%;
    overflow-x: auto; /* X축 스크롤바가 나타나도록 */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* 높은 값으로 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

